@charset "UTF-8";
  .header{
   grid-area: header;
   background-color:;	
   			
 }
  
 .leftCol{
   grid-area: leftCol;
   background-color:;
 }
  	
 .rightCol{
   grid-area: rightCol;
   background-color:;
 }
  
 .midTop{
   grid-area: midTop;
   background-color:;
 }
  
 .midBottom{
   grid-area: midBottom;
   background-color;
 }
  
 .footer{
   grid-area: footer;
   background-color:;
 }
 
 .head {
 	grid-area: root;
 	background-color:;
 }
 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 50px 100px 100px 30px; */
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  "leftCol root root rightCol"
  "leftCol header header rightCol"
  "leftCol midTop midTop rightCol"
  "leftCol midBottom midBottom rightCol"
  "leftCol footer footer rightCol";
  grid-gap: 5px;
 }
 
 body {
 	background-color: #c4c4c4;
 }
 .referee_div {
 	background-color: white;
 	padding:50px 50px 50px 50px;
 	margin: 20px 10px 20px 10px;
 	border-radius: 20px 20px 20px 20px;
 	
 	/* text-align:center; */
 }
 
 .referee_div p {
 	margin-right:200px;
 }

